# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# Test coverage
.coverage
.pytest_cache/
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# C build artifacts
*.o
*.so
*.dylib
*.a
